annotated-types==0.7.0
certifi==2025.4.26
charset-normalizer==3.4.2
dataclass-wizard==0.39.1
idna==3.10
python-dotenv==1.0.0
requests==2.32.3
todoist-api-python==3.2.1
typing-extensions==4.14.0
urllib3==2.4.0
